/* GamiPress Icon */
@font-face {
	font-family: 'GamiPress';
	src:  url('../fonts/gamipress.eot?6ncb0e');
	src:  url('../fonts/gamipress.eot?6ncb0e#iefix') format('embedded-opentype'),
	url('../fonts/gamipress.ttf?6ncb0e') format('truetype'),
	url('../fonts/gamipress.woff?6ncb0e') format('woff'),
	url('../fonts/gamipress.svg?6ncb0e#gamipress') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dashicons-gamipress, .dashicons-gamipress:before,
#dashboard-widgets #gamipress h2:before,
.widget[id*="_gamipress_"] .widget-title h3:before {
	font-family: 'GamiPress' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\e900";
}

.dashicons-gamipress:before {
	content: "\e900";
}

.wp-media-buttons-icon.dashicons-gamipress,
.wp-media-buttons-icon.dashicons-gamipress:before {
	color: #0098d7;
	line-height: 18px !important;
}

#dashboard-widgets #gamipress h2:before,
.widget[id*="_gamipress_"] .widget-title h3:before {
	display: inline-block;
	width: 20px;
	height: 14px;
	font-size: 20px;
	line-height: 8px;
	vertical-align: middle;
	text-align: center;
	margin-right: 2px;
	color: #0098d7;
}

/* Dashboard widgets */
#dashboard-widgets #gamipress h3 {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	clear: both;
	margin: 0 -12px;
	padding: 6px 12px;
}

#dashboard-widgets #gamipress .gamipress-registered-posts ul li a:before {
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;

	width: 20px;
	content: "";
}

#dashboard-widgets #gamipress .gamipress-registered-posts ul li a#points-types:before {
	content: "\f155";
}

#dashboard-widgets #gamipress .gamipress-registered-posts ul li a#achievement-types:before {
	content: "\f313";
}

#dashboard-widgets #gamipress .gamipress-registered-posts ul {
	float: left;
	width: 50%;
	margin-top: 0;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul {
	margin: 0 -12px -12px;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li {
	margin: 0;
	padding: 4px 12px;
	border-bottom: 1px solid #eee;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li:nth-child(2n+1) {
	background-color: #fafafa;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li:last-child {
	border-bottom: none;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li a {
	display: block;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li span {
	color: #72777c;
}

/* Requirements UI */
#gamipress-requirements-ui .spinner{
	float: none;
	margin-top: 0;
}

li.requirement-row {
	background: #fff;
	border: 1px solid #DDD;
	padding: 5px 10px;
	position: relative;
}

li.requirement-row .requirement-handle {
	display: block;
	background:url( '../img/ui_handle.png' );
	width:7px;
	height:4em;
	margin:5px 10px 5px 0;
	position: relative;
	float: left;
}

.post-type-points-type li.requirement-row .requirement-handle {
	height: 6.5em;
}

li.requirement-row .required-duration {
	text-align: right;
}

li.requirement-row .requirement-title {
	display: block;
	padding-top:5px;
}

li.requirement-row .title {
	width: 400px;
}

li.requirement-row .delete-requirement {
	display: table;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto 0;
}

li.requirement-row input, li.requirement-row select {
	vertical-align: middle;
}

li.requirement-row label {
	width: 50px;
	display: inline-block;
}

/* Log edit screen */
.gamipress-log-title-preview h1 {
	padding-top: 0;
	font-size: 1.7em;
}

.gamipress-log-pattern-tags-list {
	color: #aaaaaa;
	font-style: italic;
	margin: 0;
	padding-top: .5em;
}

.gamipress-log-pattern-tags-list li {
	font-size: 13px !important;
}

.gamipress-log-pattern-tags-list code {
	color: #444;
	padding: 3px 2px 2px 2px;
}

/* User Profile Area */
.gamipress-table th {
	font-weight: bold;
	padding: 8px 10px;
}
.gamipress-table a.error {
	color: #a00;
}

/* Shortcode Editor styles */
.gamipress-shortcode-thickbox #TB_ajaxContent {
	width: 100% !important;
	max-height: 100%;
	padding: 0;
}

.gamipress-shortcode-thickbox .wrap {
	padding-left: 20px;
}

.gamipress-shortcode-thickbox .wrap:after {
	content: "";
	display: table;
	clear: both;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row {
	float: left;
	width: 50%;
	padding: 5px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row:nth-child(2n+1) {
	clear: both;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row .cmb-th,
.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row .cmb-td {
	width: 100%;
	padding: 0;
}

@media screen and (max-width: 782px) {
	.gamipress-shortcode-thickbox .wrap {
		padding-left: 12px;
	}
}

/* GamiPress Select2 */
.gamipress-select2 {
	width: 100% !important;
	z-index: 100051;
}

#requirements-list .gamipress-select2 {
	max-width: 200px;
}

.gamipress-select2 .select2-selection,
.gamipress-select2 .select2-search--dropdown .select2-search__field,
.gamipress-select2.select2-container--focus .select2-selection--multiple {
	border: 1px solid #ddd !important;
	border-radius: 0 !important;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 ) !important;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 ) !important;
	color: #32373c !important;
	min-height: 27px !important;
}

.gamipress-select2 .select2-dropdown {
	border-color: #ddd !important;
	border-radius: 0 !important;
}

.gamipress-select2 .select2-results__option,
.gamipress-select2 .select2-search--dropdown .select2-search__field {
	margin: 0 !important;
}

.gamipress-select2 .select2-selection--multiple .select2-selection__rendered li {
	margin-bottom: 0 !important;
}

.gamipress-select2  .select2-selection--multiple .select2-selection__choice {
	background-color: #f5f5f5 !important;
	border-color: #ddd !important;
	font-style: normal !important;
}

/* GamiPress switch control */
.gamipress-switch .cmb-td {
	position: relative;
    min-height: 14px;
}

.gamipress-switch input {
	display: none;
}

.gamipress-switch label .cmb2-metabox-description {
    display: block;
    margin-top: 34px;
}

.gamipress-switch input + label:before,
.gamipress-switch input + label:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1px;
	content: "";

	width: 44px;
	height: 22px;
}

.gamipress-switch input + label:before {
	right: 1px;
	background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
	border-radius: 60px;
	transition: background 0.4s;
}

.gamipress-switch input + label:after {
	width: 22px;
	background-color: #fff;
	border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    border: 1px solid #ddd;
	transition: margin 0.4s;
}
.gamipress-switch input:checked + label:before {
	background-color: #8ce196;
}

.gamipress-switch input:checked + label:after {
	margin-left: 22px;
}

/* GamiPress forms on widgets area */
.widget[id*="_gamipress_"] .widget-content .cmb-th {
    padding: 0;
	width: 100%;
}

.widget[id*="_gamipress_"] .widget-content .cmb-td {
    padding: 0 0 10px 0;
}

/* GamiPress Settings */
.gamipress_page_gamipress_settings .gamipress-switch input + label:before,
.gamipress_page_gamipress_settings .gamipress-switch input + label:after {
	top: 22px;
}

.gamipress_page_gamipress_settings .nav-tab .dashicons {
	vertical-align: text-bottom;
	margin-right: 2px;
}

.gamipress_page_gamipress_settings input[name="submit-cmb"] {
	float: left;
	margin-right: 12px;
}